In [44]:
import pandas as pd

In [45]:
# import the xlsx file
xlsx_file_path: str = "../../data/unity_water/ehmp-estuarine-marine-data.xlsx"
# import the xlsx file
df = pd.read_excel(xlsx_file_path, sheet_name="Estuarine Marine Data", header=4)
# delete the first column
df = df.drop(df.columns[0], axis=1)

In [46]:
df.head()

,Location,Location name,Lat\n(GDA94),Long\n(GDA94),Survey\ndate,Survey\ntime,Depth\n(m),Chlorophyll a\n(ug/L),Secchi depth\n(metres),Total N\n(mg/L),...,pH (Unit),Pheopigments\n(ug/L),FRP\n(mg/L),Total P\n(mg/L),Salinity\n(g/L),Conductivity\n(mS/cm),Temp\n(deg C),Turbidity\n(NTU),TSS\n(mg/L),Enterococci \n(CFU/100ml)
0,E00916,MORETON BAY GRID REFERENCE 080820 (088200) (EH...,-27.278390,153.087709,2000-03-02,NaN,0.2,3.6,NaN,0.2,...,NaN,0.7,0.026,0.056,NaN,NaN,NaN,NaN,NaN,NaN
1,E00919,MORETON BAY GRID REFERENCE 100790 (105795) (10...,-27.306723,153.106036,2000-03-02,NaN,0.2,7.6,NaN,0.18,...,NaN,2.9,0.019,0.042,NaN,NaN,NaN,NaN,NaN,NaN
2,E00800,NORTH PINE RIVER GRID REF 062823 AT HORNIBROOK...,-27.277510,153.063226,2000-04-04,NaN,0.2,NaN,NaN,0.56,...,NaN,NaN,0.053,0.035,NaN,NaN,NaN,NaN,NaN,NaN
3,E00801,NORTH PINE RIVER 2.4km FROM MOUTH AT DOHLES RO...,-27.279375,153.040314,2000-04-04,NaN,0.2,NaN,NaN,0.52,...,NaN,NaN,0.056,0.038,NaN,NaN,NaN,NaN,NaN,NaN
4,E00802,NORTH PINE RIVER 5.5km FROM MOUTH 100m U/S OF ...,-27.298117,153.035287,2000-04-04,NaN,0.2,NaN,NaN,0.85,...,NaN,NaN,0.078,0.056,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
column_names = df.columns.tolist()
print(column_names)

['Location', 'Location name', 'Lat\n(GDA94)', 'Long\n(GDA94)', 'Survey\ndate', 'Survey\ntime', 'Depth\n(m)', 'Chlorophyll a\n(ug/L)', 'Secchi depth\n(metres)', 'Total N\n(mg/L)', 'Ammonia\n(mg/L)', 'Organic N\n(mg/L)', 'NOx\n(mg/L)', 'DO\n(mg/L)', 'DO saturation\n(%)', 'pH (Unit)', 'Pheopigments\n(ug/L)', 'FRP\n(mg/L)', 'Total P\n(mg/L)', 'Salinity\n(g/L)', 'Conductivity\n(mS/cm)', 'Temp\n(deg C)', 'Turbidity\n(NTU)', 'TSS\n(mg/L)', 'Enterococci \n(CFU/100ml)']

In [48]:
# List of columns to drop
columns_to_drop = ['Location', 'Survey\ntime', 'TSS\n(mg/L)', 'Enterococci \n(CFU/100ml)']

# Drop the specified columns from the DataFrame
df.drop(columns=columns_to_drop, inplace=True)

In [49]:
df.columns = [col.replace('\n', ' ') for col in df.columns]

In [50]:
print("\nMissing values in each column:")
print(df.isnull().sum())

Missing values in each column:
Location name               0
Lat (GDA94)                 0
Long (GDA94)                0
Survey date                 0
Depth (m)                   2
Chlorophyll a (ug/L)     3350
Secchi depth (metres)    3423
Total N (mg/L)           3295
Ammonia (mg/L)           3301
Organic N (mg/L)         3301
NOx (mg/L)               3295
DO (mg/L)                  80
DO saturation (%)          80
pH (Unit)                  52
Pheopigments (ug/L)      3395
FRP (mg/L)               3300
Total P (mg/L)           3295
Salinity (g/L)             51
Conductivity (mS/cm)       51
Temp (deg C)               51
Turbidity (NTU)            93
dtype: int64

In [51]:
print("Size of the DataFrame:")
print(f"Rows: {df.shape[0]}, Columns: {df.shape[1]}")

Size of the DataFrame:
Rows: 5702, Columns: 21

In [52]:
def size_df(df):
    print("Size of the DataFrame:")
    print(f"Rows: {df.shape[0]}, Columns: {df.shape[1]}")

In [53]:
size_df(df)

clean_df = df.dropna()

size_df(clean_df)

Size of the DataFrame:
Rows: 5702, Columns: 21
Size of the DataFrame:
Rows: 2189, Columns: 21

In [54]:
rel_output_file_path: str = "../../api/db/data/unity_water_estuarine_marine_data.csv"
clean_df.to_csv(rel_output_file_path, index=False)