In [1]:
import pandas as pd

In [2]:
path_red_cliffe_BOM: str = "./Red_Cliffe_BOM_info(essential).csv"
path_sunshine_coast_BOM: str = "./Sunshine_Coast_BOM_info(not_essential).csv"

# read the csv files
df_red_cliffe_BOM = pd.read_csv(path_red_cliffe_BOM)
df_sunshine_coast_BOM = pd.read_csv(path_sunshine_coast_BOM)

In [3]:
df_red_cliffe_BOM.head()

,sort_order,wmo,name[80],history_product[80],local_date_time[80],local_date_time_full[80],aifstime_utc[80],lat,lon,apparent_t,...,rel_hum,sea_state[80],swell_dir_worded[80],swell_height,swell_period,vis_km[80],weather[80],wind_dir[80],wind_spd_kmh,wind_spd_kt
0,0,95591,Redcliffe,IDQ60801,07/11:30am,20240907113000,20240907013000,-27.2,153.1,22.5,...,53,-,-,-9999.0,-9999,-,-,NNE,17,9
1,1,95591,Redcliffe,IDQ60801,07/11:00am,20240907110000,20240907010000,-27.2,153.1,22.2,...,56,-,-,-9999.0,-9999,-,-,NNE,19,10
2,2,95591,Redcliffe,IDQ60801,07/10:30am,20240907103000,20240907003000,-27.2,153.1,21.1,...,59,-,-,-9999.0,-9999,-,-,NNE,17,9
3,3,95591,Redcliffe,IDQ60801,07/10:00am,20240907100000,20240907000000,-27.2,153.1,21.3,...,61,-,-,-9999.0,-9999,-,-,NNW,15,8
4,4,95591,Redcliffe,IDQ60801,07/09:30am,20240907093000,20240906233000,-27.2,153.1,20.2,...,64,-,-,-9999.0,-9999,-,-,NW,13,7

In [4]:
df_sunshine_coast_BOM.head()

,sort_order,wmo,name[80],history_product[80],local_date_time[80],local_date_time_full[80],aifstime_utc[80],lat,lon,apparent_t,...,rel_hum,sea_state[80],swell_dir_worded[80],swell_height,swell_period,vis_km[80],weather[80],wind_dir[80],wind_spd_kmh,wind_spd_kt
0,0,94569,Sunshine Coast Airport,IDQ60801,07/11:30am,20240907113000,20240907013000,-26.6,153.1,24.4,...,48,-,-,-9999.0,-9999,10,-,N,9,5
1,1,94569,Sunshine Coast Airport,IDQ60801,07/11:00am,20240907110000,20240907010000,-26.6,153.1,22.0,...,45,-,-,-9999.0,-9999,10,-,NW,15,8
2,2,94569,Sunshine Coast Airport,IDQ60801,07/10:30am,20240907103000,20240907003000,-26.6,153.1,21.2,...,48,-,-,-9999.0,-9999,10,-,N,19,10
3,3,94569,Sunshine Coast Airport,IDQ60801,07/10:00am,20240907100000,20240907000000,-26.6,153.1,21.4,...,48,-,-,-9999.0,-9999,10,-,NW,17,9
4,4,94569,Sunshine Coast Airport,IDQ60801,07/09:30am,20240907093000,20240906233000,-26.6,153.1,19.8,...,53,-,-,-9999.0,-9999,10,-,NW,20,11

In [5]:
red_cliffe_column_names = df_red_cliffe_BOM.columns.tolist()
print(red_cliffe_column_names, "\n")

sunshine_coast_column_names = df_sunshine_coast_BOM.columns.tolist()
print(sunshine_coast_column_names)

['sort_order', 'wmo', 'name[80]', 'history_product[80]', 'local_date_time[80]', 'local_date_time_full[80]', 'aifstime_utc[80]', 'lat', 'lon', 'apparent_t', 'cloud[80]', 'cloud_base_m', 'cloud_oktas', 'cloud_type[80]', 'cloud_type_id', 'delta_t', 'gust_kmh', 'gust_kt', 'air_temp', 'dewpt', 'press', 'press_msl', 'press_qnh', 'press_tend[80]', 'rain_trace[80]', 'rel_hum', 'sea_state[80]', 'swell_dir_worded[80]', 'swell_height', 'swell_period', 'vis_km[80]', 'weather[80]', 'wind_dir[80]', 'wind_spd_kmh', 'wind_spd_kt']

['sort_order', 'wmo', 'name[80]', 'history_product[80]', 'local_date_time[80]', 'local_date_time_full[80]', 'aifstime_utc[80]', 'lat', 'lon', 'apparent_t', 'cloud[80]', 'cloud_base_m', 'cloud_oktas', 'cloud_type[80]', 'cloud_type_id', 'delta_t', 'gust_kmh', 'gust_kt', 'air_temp', 'dewpt', 'press', 'press_msl', 'press_qnh', 'press_tend[80]', 'rain_trace[80]', 'rel_hum', 'sea_state[80]', 'swell_dir_worded[80]', 'swell_height', 'swell_period', 'vis_km[80]', 'weather[80]', 'wind_dir[80]', 'wind_spd_kmh', 'wind_spd_kt']

In [6]:
# List of columns to drop
columns_to_drop = ['sort_order', 'wmo', 'history_product[80]', 'local_date_time[80]', 'cloud[80]', 'press_tend[80]', 'cloud_type[80]', 'sea_state[80]', 'swell_dir_worded[80]', 'vis_km[80]', 'weather[80]']

# Drop the specified columns from the DataFrame
df_sunshine_coast_BOM.drop(columns=columns_to_drop, inplace=True)
df_red_cliffe_BOM.drop(columns=columns_to_drop, inplace=True)

In [7]:
df_red_cliffe_BOM.head()

,name[80],local_date_time_full[80],aifstime_utc[80],lat,lon,apparent_t,cloud_base_m,cloud_oktas,cloud_type_id,delta_t,...,press,press_msl,press_qnh,rain_trace[80],rel_hum,swell_height,swell_period,wind_dir[80],wind_spd_kmh,wind_spd_kt
0,Redcliffe,20240907113000,20240907013000,-27.2,153.1,22.5,-9999,-9999,-9999,6.0,...,1025.4,1025.4,1025.4,0.0,53,-9999.0,-9999,NNE,17,9
1,Redcliffe,20240907110000,20240907010000,-27.2,153.1,22.2,-9999,-9999,-9999,5.5,...,1026.0,1026.0,1026.0,0.0,56,-9999.0,-9999,NNE,19,10
2,Redcliffe,20240907103000,20240907003000,-27.2,153.1,21.1,-9999,-9999,-9999,5.0,...,1026.6,1026.6,1026.6,0.0,59,-9999.0,-9999,NNE,17,9
3,Redcliffe,20240907100000,20240907000000,-27.2,153.1,21.3,-9999,-9999,-9999,4.6,...,1027.0,1027.0,1027.0,0.0,61,-9999.0,-9999,NNW,15,8
4,Redcliffe,20240907093000,20240906233000,-27.2,153.1,20.2,-9999,-9999,-9999,4.1,...,1027.3,1027.3,1027.3,0.0,64,-9999.0,-9999,NW,13,7

In [8]:
df_sunshine_coast_BOM.head()

,name[80],local_date_time_full[80],aifstime_utc[80],lat,lon,apparent_t,cloud_base_m,cloud_oktas,cloud_type_id,delta_t,...,press,press_msl,press_qnh,rain_trace[80],rel_hum,swell_height,swell_period,wind_dir[80],wind_spd_kmh,wind_spd_kt
0,Sunshine Coast Airport,20240907113000,20240907013000,-26.6,153.1,24.4,-9999,-9999,-9999,6.7,...,1025.6,1025.6,1025.7,0.0,48,-9999.0,-9999,N,9,5
1,Sunshine Coast Airport,20240907110000,20240907010000,-26.6,153.1,22.0,-9999,-9999,-9999,7.1,...,1026.2,1026.2,1026.3,0.0,45,-9999.0,-9999,NW,15,8
2,Sunshine Coast Airport,20240907103000,20240907003000,-26.6,153.1,21.2,-9999,-9999,-9999,6.7,...,1026.5,1026.5,1026.6,0.0,48,-9999.0,-9999,N,19,10
3,Sunshine Coast Airport,20240907100000,20240907000000,-26.6,153.1,21.4,-9999,-9999,-9999,6.6,...,1026.9,1026.9,1027.0,0.0,48,-9999.0,-9999,NW,17,9
4,Sunshine Coast Airport,20240907093000,20240906233000,-26.6,153.1,19.8,-9999,-9999,-9999,5.8,...,1027.4,1027.4,1027.5,0.0,53,-9999.0,-9999,NW,20,11

In [9]:
print("\nMissing values in each column:")
print(df_red_cliffe_BOM.isnull().sum())

Missing values in each column:
name[80]                    0
local_date_time_full[80]    0
aifstime_utc[80]            0
lat                         0
lon                         0
apparent_t                  0
cloud_base_m                0
cloud_oktas                 0
cloud_type_id               0
delta_t                     0
gust_kmh                    0
gust_kt                     0
air_temp                    0
dewpt                       0
press                       0
press_msl                   0
press_qnh                   0
rain_trace[80]              0
rel_hum                     0
swell_height                0
swell_period                0
wind_dir[80]                0
wind_spd_kmh                0
wind_spd_kt                 0
dtype: int64

In [10]:
print("\nMissing values in each column:")
print(df_sunshine_coast_BOM.isnull().sum())

Missing values in each column:
name[80]                    0
local_date_time_full[80]    0
aifstime_utc[80]            0
lat                         0
lon                         0
apparent_t                  0
cloud_base_m                0
cloud_oktas                 0
cloud_type_id               0
delta_t                     0
gust_kmh                    0
gust_kt                     0
air_temp                    0
dewpt                       0
press                       0
press_msl                   0
press_qnh                   0
rain_trace[80]              0
rel_hum                     0
swell_height                0
swell_period                0
wind_dir[80]                0
wind_spd_kmh                0
wind_spd_kt                 0
dtype: int64

In [11]:
# Writes the both df to csv files
rel_output_file_path: str = "../../api/db/data/moreton_bay_council_RedCliffe_BOM.csv"
df_red_cliffe_BOM.to_csv(rel_output_file_path, index=False)

rel_output_file_path: str = "../../api/db/data/moreton_bay_council_SC_BOM.csv"
df_sunshine_coast_BOM.to_csv(rel_output_file_path, index=False)